# Pastas do PyInstaller
build/
dist/

# Ignora outros arquivos .spec, mas mantém a configuração do Cateno
*.spec
!Cateno.spec

# Pastas temporárias do Python
__pycache__/

# Ambiente virtual do Python
.venv/